Flask==2.1.0
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-Session
Flask-SQLAlchemy
google-auth
google-auth-oauthlib
httplib2
importlib-metadata
importlib-resources
itsdangerous
more-itertools
oauthlib
PyJWT==v1.7.1
python-dateutil
python-dotenv
requests
requests-oauthlib
requests-unixsocket
simplejson
SQLAlchemy
urllib3
virtualenv
Werkzeug
flask_crontab
